/* iPad */
@media screen and (min-width: 767px) and (max-width: 1260px) {
	.search-input {
		width: 97% !important;
	}
	.editor-navigation {
		grid-template-columns: 0fr 1fr 1fr 1fr !important;
	}
	.file-pane {
		position: fixed;
		left: -2000px;
		bottom: 0;
		top: 50px;
		box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.25);
	}
	.editor-container {
		grid-template-columns: 1fr !important;
	}
}
/* iPad Portrait */
@media only screen and (min-device-width: 767px) and (max-device-width: 1260px) and (orientation: portrait) {
	.editor-container {
		grid-template-columns: 1fr !important;
	}
	.code-pane {
		border: none !important;
	}
	.result-pane {
		border: none !important;
	}
	.loading-result-progress {
		top: 53.5% !important;
		left: 0 !important;
		height: 50vh !important;
	}
}
/* iPad Landscape */
@media only screen and (min-device-width: 767px) and (max-device-width: 1260px) and (orientation: landscape) {
	.editor-container {
		grid-template-columns: 1fr !important;
	}
	.result-pane {
		width: 300px !important;
	}
	.loading-result-progress {
		left: 66.6% !important;
	}
}
/* Phone Responsiveness */
@media screen and (min-width: 120px) and (max-width: 767px) {
	.editor-title {
		display: none !important;
	}
	#download-result h1 {
		opacity: 0 !important;
	}
	.modal .large-btn {
		margin: 10px 20px !important;
	}
	.search-container input {
    width: 70% !important;
		min-width: auto !important;
		margin-left: 8px !important;
	}
	.editor-navigation > div:last-child {
		width: 200px;
	}
	.editor-navigation {
		grid-template-columns: 0fr 0fr 1fr 1fr !important;
	}
	.loading-result-progress {
		top: 57% !important;
		left: 0 !important;
		height: 50vh !important;
	}
	.file-pane {
		position: fixed;
		left: -2000px;
		bottom: 0;
		top: 50px;
		right: 0;
		width: 100% !important;
	}
	.editor-container {
		grid-template-columns: 1fr !important;
	}
	.code-pane,
	.result-pane {
		border: none !important;
	}
	.code-pane {
		border: none !important;
	}
	.result-pane {
		height: 44vh;
		border: none !important;
	}
	.error-messages {
		bottom: 0;
		left: 0;
		padding: 0 !important;
	}
	.e-message {
		border-radius: 0 !important;
		display: block;
		border: none !important;
		padding: 15px 0 !important;
		padding-left: 40px !important;
	}
}
/* General Responsiveness */
@media screen and (min-width: 120px) and (max-width: 1260px) {
	.file-pane.open-menu {
		left: 0;
	}
	.result-details {
		display: none !important;
	}
	.editor-navigation div:nth-child(2) > .editor-btn {
		display: none !important;
	}
	.mobile-filemenu {
		display: block !important;
	}
	.modals-container {
		justify-content: unset !important;
		align-items: unset !important;
	}
	.modal {
		width: 100% !important;
		padding: 0 !important;
		border-radius: 0 !important;
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		overflow: auto;
	}
	.download-grid {
		display: block !important;
	}
	.download-grid > div:first-child {
		border-right: none !important; /* border-bottom: 1px solid #eee; */
	}
	.download-grid > div:last-child {
		display: none;
	}
}
html,
body {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}
hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.upload-area {
	user-select: none;
	position: fixed;
	z-index: 500;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #b8daffd1;
	font-size: 25px;
	font-weight: bold;
	color: #38618e70;
	border: 5px dashed #007aff50;
}
.upload-area div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#download-result {
	text-align: center;
}
.details-text {
	font-size: 14px;
	color: #888;
	margin: 10px 0;
}
.modals-container {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}
.modal {
	margin: 0 auto;
	display: none;
	width: 600px;
	background-color: #fff;
	border-radius: 15px;
	padding: 10px 20px;
}
.modal .large-btn {
	margin: 10px 0;
}
.modal.dialog {
	width: 400px;
}
.modal h1 {
	display: inline-block;
}
.editor-window {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
/* inputs */
input,
textarea,
[contenteditable] {
	caret-color: #007aff;
}
.input-label {
	font-weight: 500;
	color: #555;
}
input {
	appearance: none;
	padding: 10px;
	background-color: #ebebec;
	width: stretch;
	border-radius: 10px;
	border: none;
	font-size: 15px;
	margin: 10px 0;
	min-width: 200px;
	outline: none;
}
.search-input {
	padding: 10px;
	background-color: #ebebec;
	border-radius: 10px;
	border: none;
	font-size: 15px;
	background: #ebebec url(img/search.png) 8px center / 20px no-repeat;
	padding-left: 35px !important;
	margin-bottom: 5px !important;
	margin-top: 0 !important;
	margin-left: 13px;
	width: 93%;
	outline: none;
}
/* navigation + nav elements */
.mobile-filemenu {
	background: url(img/menu.png) center / 27px no-repeat;
	padding: 20px;
	height: 8px;
}
.open-filemenu {
	background-image: url(img/back.png);
	background-size: 20px;
}
.editor-navigation {
	background-color: #fff;
	border-bottom: 0.5px solid #c7c7cc;
	display: grid;
	grid-template-columns: 1fr 1fr 0.8fr;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 500;
	height: 50px;
}
.editor-navigation > div:last-child {
	text-align: right;
}
.editor-title {
	padding: 15px;
	font-weight: bold;
	display: inline-block;
}
.result-details {
	color: #999;
	margin: 10px 0;
	border-right: 1px solid #eee;
	padding-right: 15px;
	display: inline-block;
}
.result-actions {
	padding: 5px 10px;
	background-color: #eee;
	color: #555;
	font-weight: 600;
	margin-right: 5px;
	border-radius: 5px;
	display: inline-block;
}
/* download section */
.download-or {
	color: #999;
	display: inline-block;
}
/* link buttons */
.mobile-download {
	display: none;
}
.editor-btn {
	display: inline-block;
	cursor: pointer;
}
.editor-btn a {
	color: #007aff;
	text-decoration: none;
	padding: 15px;
	display: inline-block;
}
.editor-btn.primary-btn {
	font-weight: bold;
}
.editor-btn:hover {
	opacity: 0.8;
}
.editor-btn:active {
	opacity: 0.5;
}
/* editor + result panes */
.editor-container {
	display: grid;
	grid-template-columns: 0fr 1fr;
	width: 100%;
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}
.code-pane {
	border-left: 0.5px solid #c7c7cc;
}
.file-pane,
.code-pane,
.result-pane {
	overflow: auto;
}
.result-pane {
	border-left: 0.5px solid #c7c7cc;
	background-color: #e1e3e6;
	box-shadow: inset 0 0 10px rgba(150, 150, 150, 0.5);
	padding: 20px;
	transition: 0.1s opacity;
	position: fixed;
	z-index: 200;
	height: 500px;
	right: 80px;
	top: 45px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: -1px 5px 16px rgba(0, 0, 0, 0.27);
	border: 2px solid #ccc;
}
.result-pane.loading {
	pointer-events: none;
}
.result-text {
	font-size: 16px;
	color: #777;
}
/* ace editor */
#ace_editor {
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100% !important;
	height: 100% !important;
}
.ace_gutter-cell.ace_error {
	background: url(img/error.png) 2px 1px / 14px no-repeat !important;
}
.ace_invalid {
	background-color: #d74c39 !important;
}
/* download modal */
#qr-result {
	width: 200px;
	height: 200px;
	border: 2px solid #c7c7cc;
	border-radius: 3px;
	background-color: #eee;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
#download-shortcut-link {
	text-decoration: none;
	text-align: center;
}
#no-file-msg {
	padding: 80px 0;
	border: 1px solid #eee;
	border-radius: 10px;
	background: #fafafa;
	margin-bottom: 20px;
}
.shortcut-filename {
	margin: 5px;
	font-size: 18px;
	font-weight: 500;
	color: #000;
}
.shortcut-filedetails {
	margin: 5px;
	font-size: 15px;
	color: #888;
	text-transform: uppercase;
}
.download-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
}
.download-grid > div {
	padding: 20px;
}
.download-grid > div:first-child {
	border-right: 1px solid #eee;
	display: flex;
	justify-content: center;
	align-items: center;
}
.large-btn {
	padding: 15px 10px;
	background-color: #eee;
	border-radius: 3px;
	margin: 10px;
	font-size: 18px;
	color: #007aff;
	font-weight: 600;
	cursor: pointer;
	border: none;
	text-align: center;
}
.large-btn:active {
	opacity: 0.7;
}
.cancel-btn {
	font-weight: normal;
	background: none;
	float: right;
	margin-top: 15px;
}
/* loading indicator */
.result-pane.loading .loading-result-progress {
	display: flex;
}
.loading-result-progress {
	display: none;
	position: absolute;
	z-index: 500;
	left: 45%;
	top: 45%;
}
.result-pane.loading .styles_container__2XUEs {
	opacity: 0.5;
}
.loading-result-progress > div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.load {
	border-bottom: 3px solid rgba(150, 150, 150, 0.2);
	border-left: 3px solid rgba(150, 150, 150, 0.2);
	border-right: 3px solid rgba(0, 122, 255, 1);
	border-top: 3px solid rgba(0, 122, 255, 1);
	border-radius: 100%;
	height: 30px;
	width: 30px;
	-webkit-animation: rot 0.5s infinite linear;
	animation: rot 0.5s infinite linear;
}
.large {
	height: 50px;
	width: 50px;
}
.small {
	height: 20px;
	width: 20px;
	border-width: 3px !important;
}
@-webkit-keyframes rot {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
@keyframes rot {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

/*Error color*/
.error {
	/*Don't remove*/
	background: #ffdcdc !important;
	/*Don't remove*/
}
.error-messages {
	position: absolute;
	z-index: 100;
	right: 0;
	padding: 15px;
}
.e-message {
	background: url(img/error.png) 10px center / 20px no-repeat;
	background-color: #ffe4e0;
	border: 2px solid #d74c3950;
	padding: 13px 20px;
	padding-left: 40px;
	border-radius: 5px;
	color: #d74b38;
	font-size: 13px;
	margin-bottom: 13px;
	box-shadow: 0 0 5px rgba(150,150,150,.5);
}
