#ace_editor{
	position:relative;
	top:0;
	left:0;
	width:100% !important;
	height:100% !important;
}
.split{
	display:flex;
	flex-direction:row;
	position:fixed;top:0;left:0;width:100%;
	height:100%;
}
.splitItem{
	flex: 1;
	transition: 0.1s opacity;
}
.scroll{
	overflow:scroll;
}

.error {
	background-color:#ffdddd !important;
}

.loading{
    opacity: 0.5;
	pointer-events: none;
}