/* Color & Glyph select */
.glyphs-container {
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid #dedede;
  border-width: 1px 0;
}
.glyph-header {
  background-color: #eee;
  color: #555;
  position: sticky;
  top: 0;
  font-size: 13px;
  font-weight: 500;
  padding: 3px 5px;
  z-index: 1000;
}
.radio {
  display: inline-block;
}
.radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 15px 20px;
    margin: 10px 5px;
    cursor: pointer;
}
.radio label:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    position: absolute;
    left: 0;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #fff;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.radio.glyph-radio label:before {
  background: url() center / 20px no-repeat;
  background-color: #fafafa;
}
label:hover:before {
    background-color: #c7c7c7;
    border-color: #c7c7c7;
}
input[type=radio] {
    display: none;
}
.radio.color-radio label:before {
    border-radius: 50%;
}
.radio.glyph-radio label:before {
    border-radius: 5px;
}
input[type=radio]:checked+label:before {
    content: " ";
    background-color: #555;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #555;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.glyph-radio input[type=radio]+label:before {
  background-color: #fff !important;
}
.glyph-radio input[type=radio]:checked+label:before {
  box-shadow: 0 0 0 2px #ddd;
  background-color: #eee !important;
}
/* colors */
input[type=radio]#color-red+label:before {
  background-image:linear-gradient(to right, #f62544, #c50026);
}
input[type=radio]#color-red:checked+label:before {
  box-shadow: 0 0 0 2px #f62544;
}

input[type=radio]#color-darkorange+label:before {
  background-image:linear-gradient(to right, #f06b3c, #db2c00);
}
input[type=radio]:checked#color-darkorange+label:before {
  box-shadow: 0 0 0 2px #f06b3c;
}

input[type=radio]#color-orange+label:before {
  background-image:linear-gradient(to right, #ff881e, #e25b00);
}
input[type=radio]:checked#color-orange+label:before {
  box-shadow: 0 0 0 2px #ff881e;
}

input[type=radio]#color-yellow+label:before {
  background-image:linear-gradient(to right, #f0b500, #e78600);
}
input[type=radio]:checked#color-yellow+label:before {
  box-shadow: 0 0 0 2px #f0b500;
}

input[type=radio]#color-green+label:before {
  background-image:linear-gradient(to right, #5fca3f, #379c0f);
}
input[type=radio]:checked#color-green+label:before {
  box-shadow: 0 0 0 2px #5fca3f;
}

input[type=radio]#color-seagreen+label:before {
  background-image:linear-gradient(to right, #40d0b1, #00a490);
}
input[type=radio]:checked#color-seagreen+label:before {
  box-shadow: 0 0 0 2px #40d0b1;
}

input[type=radio]#color-lightblue+label:before {
  background-image:linear-gradient(to right, #39cdd5, #009cc4);
}
input[type=radio]:checked#color-lightblue+label:before {
  box-shadow: 0 0 0 2px #39cdd5;
}

input[type=radio]#color-blue+label:before {
  background-image:linear-gradient(to right, #4ba8f0, #0079e1);
}
input[type=radio]:checked#color-blue+label:before {
  box-shadow: 0 0 0 2px #4ba8f0;
}

input[type=radio]#color-darkblue+label:before {
  background-image:linear-gradient(to right, #2c75dd, #0047bb);
}
input[type=radio]:checked#color-darkblue+label:before {
  box-shadow: 0 0 0 2px #2c75dd;
}

input[type=radio]#color-darkpurple+label:before {
  background-image:linear-gradient(to right, #7751e3, #4c22b8);
}
input[type=radio]:checked#color-darkpurple+label:before {
  box-shadow: 0 0 0 2px #7751e3;
}

input[type=radio]#color-purple+label:before {
  background-image:linear-gradient(to right, #b247d8, #840aad);
}
input[type=radio]:checked#color-purple+label:before {
  box-shadow: 0 0 0 2px #b247d8;
}

input[type=radio]#color-pink+label:before {
  background-image:linear-gradient(to right, #ee60a6, #d0287e);
}
input[type=radio]:checked#color-pink+label:before {
  box-shadow: 0 0 0 2px #ee60a6;
}

input[type=radio]#color-black+label:before {
  background-image:linear-gradient(to right, #78797e, #535658);
}
input[type=radio]:checked#color-black+label:before {
  box-shadow: 0 0 0 2px #78797e;
}

input[type=radio]#color-brown+label:before {
  background-image:linear-gradient(to right, #9d9b92, #7f7b6b);
}
input[type=radio]:checked#color-brown+label:before {
  box-shadow: 0 0 0 2px #9d9b92;
}

input[type=radio]#color-grey+label:before {
  background-image:linear-gradient(to right, #8f99b0, #6d768e);
}
input[type=radio]:checked#color-grey+label:before {
  box-shadow: 0 0 0 2px #8f99b0;
}

/* glyphs */
input[type=radio]#glyph-car+label:before {
  background-image: url(img/glyphs/01.png);
}
input[type=radio]#glyph-amb+label:before {
  background-image: url(img/glyphs/02.png);
}
