/* Search actions */
.search-container {
	padding-top: 5px;
}
.search-container input {
	width: 95%;
}
.close-search-btn {
	float: right;
	padding: 10px 20px;
	border-bottom-left-radius: 10px;
	font-size: 30px;
	text-align: center;
	background: #f5f5f5;
	text-transform: uppercase;
	font-weight: 500;
}
.close-search-btn a {
	text-decoration: none !important;
}
.search-action-results {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	cursor: pointer;
	z-index: 2000;
	margin: 0 auto;
	right: -160px;
	left: 0;
	width: 600px;
	max-height: 500px;
	overflow-y: scroll;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transition: 0.3s opacity;
}
.search-action-results.search-action-results-visible {
	opacity: 1;
	pointer-events: all;
}
.action-item {
	padding: 10px 20px;
	padding-top: 18px;
	padding-left: 40px;
	background: url(img/shortcuts_grey.png) 5px 15px / 30px no-repeat;
}
.action-item:hover {
	background-color: #fafafa;
}
.action-item:active {
	background-color: #007aff38;
}
.search-action-results .action-item:not(:last-child) {
	border-bottom: 0.5px solid #eee;
}
.action-item-title {
	font-weight: 500;
	display: inline-block;
}
.action-item-code {
	display: inline-block;
	margin: 0 10px;
	background-color: rgba(150, 150, 150, 0.3);
	padding: 3px 8px;
	border-radius: 3px;
	font-size: 14px;
	font-family: monospace;
}
.action-item-description {
	font-size: 14px;
	color: #333;
	margin: 5px 0;
}
.action-item-url {
	font-size: 14px;
}
.action-item-usage {
	margin: 10px 0;
	padding: 10px;
	background: rgba(235, 235, 235, 0.67);
	border: 1px solid #cacaca;
	border-radius: 5px;
	color: #1000a2;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.18);
	font-family: monospace;
}
