/* Search actions */
.search-container {
	padding-top: 5px;
}
.search-container input {
	width: 95%;
}
.search-action-results {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	cursor: pointer;
	z-index: 2000;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	transition: 0.1s opacity;
}
.search-action-results.search-action-results-visible {
	opacity: 1;
	pointer-events: all;
}
.action-item {
	padding: 10px 20px;
	padding-top: 18px;
	padding-left: 40px;
	background: url(img/shortcuts_grey.png) 5px 15px / 30px no-repeat;
}
.action-item:hover {
	background-color: #fafafa;
}
.action-item:active {
	background-color: #007aff38;
}
.search-action-results .action-item:not(:last-child) {
	border-bottom: 0.5px solid #eee;
}
.action-item-title {
	font-weight: 500;
	display: inline-block;
}
.action-item-code {
	display: inline-block;
	margin-left: 8px;
	background-color: rgba(150, 150, 150, 0.3);
	padding: 3px 8px;
	border-radius: 3px;
	font-size: 14px;
	font-family: monospace;
}
.action-item-description {
	font-size: 14px;
	color: #888;
	margin: 5px 0;
}
.action-item-usage {
	margin: 10px 0;
	padding: 10px;
	background: rgba(202, 202, 202, 0.3);
	border: 1px solid #ddd;
	border-radius: 5px;
	color: #555;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
	font-family: monospace;
}
